.section{
    background-color: #EDF8F9;
    ul{
        width: 100%;
        margin-top: 50px;
        .about-box{
            width: 20%;
            .chat, a{
                margin-left: 30%;
            }
            
        }
        
    }
}